
h1, h2, h3 {
  padding-top: 20px;
  font-family: 'Amaranth', sans-serif;
}

.imgHolder
{
    min-height: 240px;
    background: #fff;
}

.scroll-text {
  border: 1px solid red;
  width: 400px;
  height: 4.5em;
  overflow: hidden;
}
.scroll-text ul {
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}
.scroll-img {
  width: 680px;
  height: 142px;
  overflow: hidden;
  font-size: 0;
}

.scroll-img ul {
  width: 100%;
  height: 320px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
}
#demo4.scroll-img ul,
#demo5.scroll-img ul {
  width: 2500px;
}
#demo5-btn {
  width: 680px;
  padding-top: 10px;
}

.scroll-img ul li
{
    width:200px;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    background: #fff;
    margin: 15px;
}

.scroll-img ul li h4
{
    text-align: center
}
