{% set pagedata = data.pagedata['pagedata'] %}

{% include 'includes/header.twig' %}

<body id="{{ data.url }}">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	{% include 'includes/page-head.twig' %}

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>User Account</h4>
			<div class="site-pagination">
				<a href="{{ data.url }}">Home</a> /
				<a href="#">Login</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->

	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 order-1 order-lg-1">

					<form class="checkout-form" method="post" action="{{ data.url }}auths/prologin">

						<div class="row">
							
							<div class="col-md-6">
								<h2 style="padding:10px;padding-bottom:20px;margin-bottom:20px;border-bottom: 1px solid #ccc">Login</h2>

								{% if response.message is not empty %}
									<div class="alert alert-{{ response.key }}" data-role="alert">{{ response.message }}</div>
								{% endif %}
								
								<input type="hidden" name="{{ csrf.name }}" value="{{ csrf.hash }}" />

								<input type="text" name="username" placeholder="Username or Email" required="required">
								<input type="password" name="password" placeholder="Password" required="required">
								<button class="site-btn submit-order-btn">Login</button>
							</div>
							<div class="col-md-6">
								<h2 style="padding:10px;padding-bottom:20px;margin-bottom:20px;border-bottom: 1px solid #ccc">Sign up</h2>
								<br />
								You can also register on SAMIS Northampton to access all our online store benefits and discounts vouchers.
								<br />
								<p>
									Please, click here to create your shopper's account.
								</p>
								<br />
								<a href="{{ data.url }}auths/signup" class="site-btn sb-white add_to_cart">Create Account</a>
							</div>
							
						</div>

					</form>
					
				</div>
				
			</div>
		</div>
	</section>

{% include 'includes/footer.twig' %}