{% set pagedata = data.pagedata['pagedata'] %}

{% include 'includes/header.twig' %}

<body id="{{ data.url }}">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	{% include 'includes/page-head.twig' %}

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>User Account</h4>
			<div class="site-pagination">
				<a href="{{ data.url }}">Home</a> /
				<a href="#">Login</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->

	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 order-1 order-lg-1">

					<form class="checkout-form" method="post" action="{{ data.url }}auths/authverify">

						<div class="row">
							
							<div class="col-md-12">

								<h2 style="padding:10px;padding-bottom:20px;margin-bottom:20px;border-bottom: 1px solid #ccc">Verify Account</h2>

								{% if response.message is not empty %}
									<div class="alert alert-{{ response.key }}" data-role="alert">{{ response.message }}</div>
								{% endif %}
								
							</div>
							<div class="col-md-6">
								
								<input type="hidden" name="{{ csrf.name }}" value="{{ csrf.hash }}" />
								<input type="text" name="verify_code" placeholder="5 digit verification code" required="required">
								<button style="" class="site-btn submit-order-btn">Continue</button>

							</div>
							
							
						</div>

					</form>
					
				</div>
				
			</div>
		</div>
	</section>

{% include 'includes/footer.twig' %}