

    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="{{ data.url }}assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{ data.url }}assets/js/bootstrap.min.js"></script>
    <script src="{{ data.url }}assets/js/jquery.slicknav.min.js"></script>
    <script src="{{ data.url }}assets/js/owl.carousel.min.js"></script>
    <script src="{{ data.url }}assets/js/jquery.nicescroll.min.js"></script>
    <script src="{{ data.url }}assets/js/jquery.zoom.min.js"></script>
    <script src="{{ data.url }}assets/js/jquery-ui.min.js"></script>
    <script src="{{ data.url }}assets/js/main.js"></script>

    </body>
</html>
