<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{{ data.page_title }} | {{ data.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Samis Northampton | African Store">
    <meta name="keywords" content="Samis, Northampton, African, Store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/_favicon.ico" rel="shortcut icon"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ data.url }}assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/flaticon.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/slicknav.min.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/animate.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/style.css"/>
    <link rel="stylesheet" href="{{ data.url }}assets/css/admin-style.css"/>


    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>