    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">
                        <!-- logo -->
                        <a href="{{ data.url }}" class="site-logo">
                            <img style="width:100px" src="{{ data.url }}assets/img/web-logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <form class="header-search-form" method="post" action="{{ data.url }}products/pro_search">
                            <input type="text" name="search" placeholder="Search our products ....">
                            <button><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            {% if data.userdata is empty %}
                                <div class="up-item">
                                    <i class="flaticon-profile"></i>
                                    <a href="{{ data.url }}auths/login">Sign</a> In or <a href="{{ data.url }}auths/signup">Create Account</a>
                                </div>
                            {% endif %}
                            <div class="up-item">
                                <div class="shopping-card">
                                    <i class="flaticon-bag"></i>
                                    <span>{{ data.cart }}</span>
                                </div>
                                <a href="{{ data.url }}shopping/cart">Shopping Cart</a>
                            </div>
                            {% if data.userdata is not empty %}
                                <div class="up-item">
                                    <i class="flaticon-profile"></i>
                                    <a href="{{ data.url }}account/home">Hi! {{ data.namex }}</a> | <a href="{{ data.url }}auths/logout">Logout</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="{{ data.url }}">Home</a></li>
                    <!--<li><a href="#">Products</a>
                        <ul class="sub-menu">
                            <li><a href="{{ data.url }}products/categories">Categories</a></li>
                            <li><a href="{{ data.url }}">Suppliers</a></li>
                            <li><a href="{{ data.url }}delivery">Delivery</a></li>
                        </ul>
                    </li>-->
                    <!--<li><a href="{{ data.url }}about-us">About Us</a></li>-->
                    <!--<li><a href="{{ data.url }}payments">Payments
                         <span class="new">New</span> 
                    </a></li>-->
                    <!--<li><a href="{{ data.url }}promotions">Promotion</a></li>-->
                    
                    <!--<li><a href="{{ data.url }}blogs">Blog</a></li>-->
                    <!--<li><a href="{{ data.url }}contact">Contact</a></li>-->
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header section end -->