<!-- SIDE BAR NAVIGATION -->

<nav class="main-nav">

    <div class="wrapper">
        <div class="nav-header">
            <h4>E</h4>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="#"><i class="fa fa-th"></i></a></li>
                <li><a href="#"><i class="fa fa-calendar-o"></i></a></li>
                <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                <li><a href="#"><i class="fa fa-tasks"></i></a></li>
                <li><a href="#"><i class="fa fa-line-chart"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
            </ul>

            <ul class="bottom">
                <li><a href="#"><i class="fa fa-user"></i></a></li>
                <li><a href="#"><i class="fa fa-plus"></i></a></li>
            </ul>
        </div>
    </div>

</nav>

<!-- END SIDE BAR NAVIGATION -->