@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*----------------------------------------*/
/* GENERAL STYLES 
/*----------------------------------------*/

body{
    background: #F3F5F7;
    font-family: 'Roboto', sans-serif;
}

.nav-links ul, .main-header ul{
    padding:0;
    margin:0;
    list-style: none;
}

.page-wrapper{
    width: calc(100% - 27px);
}

/*----------------------------------------*/
/* SIDENAV STYLES 
/*----------------------------------------*/

.main-nav{
    width:70px;
    height: 100vh;
    background: #fff;
    position:fixed;
    left:0;
    top: 0;
}

.wrapper{
    width:100%;

}

.nav-header{
    height:85px;
    width:100%;
    border-bottom: 1px solid #F3F5F7;
    margin-bottom: 30px;
}

.nav-header h4{
    line-height: 85px;
    text-align: center;
    color:#6865B5;
}

.nav-links{
    
}

.nav-links ul{
    padding:0;
    margin:0;
    list-style: none;
}

.nav-links li{
    height: 60px;
    width:auto;
}

.nav-links li a{
    display:block;
    text-align: center;
    line-height: 60px;
    color:#ccc;
    border-left: 3px solid white;
    font-size: 20px;
}

.nav-links li a:hover{

    color: #6865B5;
    border-color: #6865B5;
}

.nav-links  .bottom{
    position: absolute;
    bottom:0;
    width: 100%;
}

.nav-links  .bottom li a{
    border:none;
}




/*----------------------------------------*/
/* DASHBOARD STYLES 
/*----------------------------------------*/

.main{
    margin-left:100px;
}

/*----------------------------------------*/
/* DASHBOARD :: HEADER STYLES 
/*----------------------------------------*/

.main-header{
    height:85px;
}

.main-header ul{
    height:35px;
    margin-top:25px;
}

.main-header ul.mt-0{
    margin-top: 0;
}

.main-header li{
    display: inline-block;
    line-height: 35px;
}

.main-header li a{

    color:#999;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius:50px;
    line-height: 35px;
    padding-top: 0px;
}

.main-header li a.active{
    background: #6865B5;
    color:white;
    text-align: center;
}

.has-children > .dropdown{
    opacity: 0;
}

.has-children:hover > .dropdown{
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.dropdown{
    width:190px;
    position: absolute;
    min-height: 120px;
    background: white;
    box-shadow: 0 0 20px rgb(0,0,0, 0.06);
    margin-left:-100px;
    z-index: 999;
    border-radius: 5px;
    padding-top:10px;
}

.dropdown ul{
    margin:0;
    padding:0;
}

.dropdown ul li{
    display:block;
}

.dropdown ul li a{
    text-transform: capitalize;
}

.dropdown ul li a i{
    margin-right:15px;
}

.dropdown ul li:hover{
    background:#6865B5;
}

.dropdown ul li:hover a{
    color:white;
}

/*----------------------------------------*/
/* DASHBOARD :: CONTENT STYLES 
/*----------------------------------------*/

.main-content{
    min-height: 700px;
}

.card{
    margin-bottom: 30px;
    background:white;
    min-height: 300px;
    border:none;
    box-shadow: 4px 4px 0px rgb(255,255,255, 0.5)
}

.side-notice{
    background: #6865B5;
    min-height: 100px;
}

.side-notice .wrap{
    padding:30px;
}

.side-notice .wrap h4, .side-notice .wrap p{

    color:white;
}

.side-notice .wrap h4{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}

.side-notice .wrap p{
    font-size: 13px;
}

.side-content{
    min-height: 400px;
    background:white;
}