{% set pagedata = data.pagedata['pagedata'] %}

{% include 'includes/header.twig' %}

<body id="{{ data.url }}">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	{% if not authCheck %}
	{% include 'includes/page-head.twig' %}
	{% endif %}

	<!-- Page Starts -->
	<div class="page-wrapper">
		{% include 'includes/sidenav.twig' %}
		
		<div class="main">
			<div class="main-header">

				<ul class="pull-right mt-0">
					<li><a href="#"><i class="fa fa-bell-o"></i></a></li>
					<li class="has-children"><a href="#">Hi, David <i class="fa fa-user-o"></i></a>
						<div class="dropdown">
							<ul>
								<li><a href="#"><i class="fa fa-user-o"></i> Profile </a></li>
								<li><a href="#"><i class="fa fa-cog"></i> Settings </a></li>
								<li><a href="{{ data.url }}auths/logout"><i class="fa fa-sign-out"></i> Logout </a></li>
							</ul>
						</div>
					</li>
				</ul>
				<ul>
					<li><a class="active" href="#">to do</a></li>
					<li><a href="#">do later</a></li>
					<li><a href="#">completed</a></li>
				</ul>

				
			</div>
			<div class="main-content">
				
				<div class="row">
					<div class="col-lg-8">
						<div class="card">
							<h4>Today 18th Nov.</h4>
							<div class="table-view">
								<table class="table">
									<thead>
										<tr><th>SN</th><th>DUE</th><th>TYPE</th><th>CLASS</th><th>PAGE</th></tr>
									</thead>
									<tbody>
										<tr><th>1</th><th>22nd Nov</th><th>Urgent</th><th>JPC Org 1</th><th>PAGE 12</th></tr>
										<tr><th>1</th><th>22nd Nov</th><th>Urgent</th><th>JPC Org 1</th><th>PAGE 12</th></tr>
										<tr><th>1</th><th>22nd Nov</th><th>Urgent</th><th>JPC Org 1</th><th>PAGE 12</th></tr>
										<tr><th>1</th><th>22nd Nov</th><th>Urgent</th><th>JPC Org 1</th><th>PAGE 12</th></tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card">Card 1</div>
					</div>
					<div class="col-lg-4"> 
						<div class="side-notice">
							<div class="wrap">
								<h4>Activity Notice & History</h4>
								<p>
									Use Journey Builder to update contact values using the update contact activity to aid in prioritization. 
									To identify contacts that enter each of these paths for prioritization, 
									NTO uses a series of update contact activities with the Journey Builder Prioritization data extension.
								</p>
							</div>
						</div>
						<div class="side-content">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Ends -->

{% include 'includes/footer.twig' %}