{% set pagedata = data.pagedata['pagedata'] %}

{% include 'includes/header.twig' %}

<body id="{{ data.url }}">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	{% include 'includes/page-head.twig' %}

	{% include 'includes/slideshow.twig' %}

	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{{ data.url }}assets/img/icons/1.png" alt="#">
						</div>
						<h2>Online / Cash Payment</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{{ data.url }}assets/img/icons/2.png" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{{ data.url }}assets/img/icons/3.png" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->

	{% include 'includes/carousel_blocks.twig' %}

	{% include 'includes/products_block.twig' %}	

	{% include 'includes/promo_banner.twig' %}


{% include 'includes/footer.twig' %}
