
{% include 'includes/header.twig' %}

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
    
    {% include 'includes/page-head.twig' %}
    
    <!-- Page info -->
	<div class="page-top-info">
		<div class="container" style="text-align: center;margin-top: 100px">
			<h4 style="font-size: 60px;">404</h4>
			<div class="site-pagination">
				<p style="color:white">Page not found or Request error!
					<br/> Please, click the link below to return to <a href="{{ data.url }}">SAMIS Home Page</a></p>
				<a href="{{ data.url }}">go to Home Page</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->
    



{% include 'includes/footer.twig' %}