.inner-chat-coat
{
	background: rgba(6,55,178, .95);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	line-height: 50px;
}

.chat-box
{/*
	position: fixed;
	z-index: 99999;
	right:20px;
	bottom: 80px;
	background: rgba(247,248,254);
	min-height:calc(64vh);
	width: calc(830px);
	border-radius:4px;
	box-shadow: 0 0 35px rgba(6,55,178, .55);*/
}

.chat-box-head
{
	height:50px;
	width: 100%;
	border-bottom:1px solid #e8e8e8;
	position: absolute;
	top:0;
	left:0;
}

.chat-box-head > div, .chat-box-head > div > h4
{
	line-height: 50px;
	padding-left: 15px;
}

.chat-box-head > div > h4{
	padding:0;
	margin: 0
}

.chat-box-head > div > i
{
	color:rgba(6,55,178, .55);
	margin-right: 10px
}


.chat-box-body
{
	height:calc(60vh);
	padding: 10px;
	overflow-y: scroll;
	margin-bottom: 45px;
	margin-top: 50px;
}

.card-row
{
	position: relative;
	clear:both;
}

.orlmy-card{
	border-radius: 5px;
	min-height: 30px;
	box-shadow: 0 0 4px rgba(6,55,178, .2);
	min-width: 25%;
	max-width: 75%;
	background: #fff;
	margin:7px;
	padding: 10px;
	font-size: 14px
}

.right
{
	right:0;
	border-top-right-radius: 0px;
	background: rgba(53, 77, 123) !important;
	display: inline-block;
    float: right;
    color:#fff;
}

.left
{
	left:0;
	border-top-left-radius: 0px;
	display: inline-block;
    float: left;
}

.chat-box-foot
{
	height:45px;
	border-top:1px solid #e8e8e8;
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
}

.chat-box-btn-icon
{
	width: 50px;
	height: calc(6vh);
	border-bottom-left-radius: 4px;
	position: absolute;
	bottom: -1px;
	left:0;
	color: rgba(15,79,204, .95);
	font-size: 22px;
	line-height: calc(6vh);
	text-align: center;
}

.chat-box-message
{
	width:69%;
	height: calc(45px);
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 0 50px;
	width: 100% !important;
}

.chat-box-message textarea
{
	height:calc(44px) !important;
	border:none;
	width: 100% !important;
	padding-top: 10px;
}

.chat-box-btn-send
{
	width: 50px;
	height: calc(6vh);
	background: rgba(15,79,204, .95);
	border-bottom-right-radius: 4px;
	position: absolute;
	bottom: -1px;
	right:0;
	color: #fff;
	font-size: 22px;
	line-height: calc(6vh);
	text-align: center;
}

.istyping{
	margin-top:-20px !important;
	padding-left:10px;
	height:20px;
	font-size: 11px;
	color:#777;
	position:relative;
	z-index:99999;
	background:rgba(247,248,254);
	display: none
}