.menu-btn-container{
	display:inline-block;
	cursor:pointer;
	position: absolute;
	top:5px;
	left:5px;
	padding:15px 5px;
}

.bars{
	width:27px;
	height:3px;
	background:#444 !important;
	margin:3px 0px;
	transition:0.4s;
}

.change .bars:first-child{
	-webkit-transform:rotate(-45deg) translate(-5px, 3px);
	transform:rotate(-45deg) translate(-5px, 3px);
}

.change .bars:nth-child(2){
	opacity:0;
}

.change .bars:last-child{
	-webkit-transform:rotate(45deg) translate(-3px, -3px);
	transform:rotate(45deg) translate(-4px, -3px);
}

.wrap-items{
	list-style: none;
	margin:0;
	padding:0;
}

/*.wrap-items li:first-child:hover{
	background: rgba(68, 127, 242) !important;
	color: #fff;
	margin-top: 20px
}*/

.wrap-items li{
	color:rgba(255, 255, 255, 0.9);
	text-align: center;
	line-height: 65px;
	cursor:pointer;
	font-size: 18px;
}

.wrap-items li:hover{
	color:rgba(255, 255, 255, 1);
	background: rgba(68, 127, 242) !important;
}

.active-tab{
	color:rgba(255, 255, 255, 1);
	background: rgba(68, 127, 242) !important;
}