/* ------------------- RESPONSIVE LAYOUT ---------------------*/

/*. DESKTOP */

.section{
	min-height: calc(85vh)
}

.container{
	width:100%;
	margin:0;
}

.column-1{
	background:;
	background:linear-gradient(45deg, rgba(29,35,42,1), rgba(29,35,42, .95)) no-repeat;
}

.column-2{
	background:;
	background:linear-gradient(45deg, rgba(29,35,42,1), rgba(39,45,53, .95)) no-repeat;
}

.column-3{
	background:;
	background:linear-gradient(45deg, rgba(29,35,42,1), rgba(39,45,53, .95)) no-repeat;
}

.column-4{
	background:;
	background:linear-gradient(45deg, rgba(248, 243, 243), rgba(246, 246, 254)) no-repeat;
}

.column-5{
	background:;
	background:linear-gradient(45deg, rgba(250, 250, 250, 1), rgba(250, 250, 250, .95)) no-repeat;
}

/* TABLET */




/* MOBILE */