/* -------------- Phone Pad --------------------- */

.phone-pad-wrap{
	padding-top: 20px;
	position: fixed;
	width:300px;
	min-height: 470px;
	border-radius:10px;
	background: rgba(53, 77, 123) !important;
	left:40%;
	top:15%;
	box-shadow: 0 0 10px rgba(0,0,0, .5);
	display: none;
}

.key_pads{

}
.key_pads > table{
	width:auto;
	margin-left:10%;
}

.key_pads > table > tbody > tr{

}

.key_pads > table > tbody > tr > td{

}

.key_pads > table > tbody > tr > td > div{
	color:#fff;
	width:70px;
	height:70px;
	margin:5px;
	text-align: center;
	-webkit-transition: all .5s ease-in-out;
  	-moz-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out;
  	cursor: pointer
}

.key_pads > table > tbody > tr > td > div:hover{
	background:rgba(255,255,255, .1);
	border-radius:70px;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.key_pads > table > tbody > tr > td > div > p{
	margin:0;
	padding:0;
	margin-bottom: -10px;
	font-size: 36px
}


.key_pads > table > tbody > tr > td > div > span{
	font-size: 11px;
	color:rgba(146, 168, 210) !important;
}

.dial_pad{
	width:auto;
	position: relative;
	text-align: center;
}

.dial_btn{
	width:120px;
	background:#a3ff99;
	line-height: 35px;
	border-radius:40px;
	color:#fff;
	font-size: 22px;
	display:inline-block;
	cursor:pointer;
}

/*------------------ twitter pad ------------------------*/
