@import url('https://fonts.googleapis.com/css?family=Roboto+Sans|Dosis');

html,body
{
	font-family: 'Roboto', sans-serif;
	font-family: 'Dosis', sans-serif;
	overflow-x:hidden;
}

.navbar-brand
{
	font-weight: bold;
	font-size: 34px;
	margin-top: 10px
}

.navbar
{
	margin-top: 0px !important;
	background: none !important;
	border-radius:0 !important;
	border:none;
	box-shadow: none;
	z-index:444;
	min-height:60px;
}

.navbar a
{
	color:#888 !important;
}

.nav > li > a{
	line-height: 35px;
	min-height:35px;
}

.navbar-default .navbar-nav > .active{
    color: #000 !important;
    background: #f30;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000 !important;
    background: #f30 !important;
}

.dropdown-menu a:hover{
    color: #fff !important;
    background: #1594ff !important;
}

.logo-icon
{
	width:50px;
	margin-top: -10px;
	margin-left: -15px;
	position: absolute;
}

.brand-title
{
	margin-left: 35px;
	font-size: 24px;
	margin-right: 20px
}

/*------------------------------- SLIDESHOW AREA--------------------------------*/

.box-wrap, .carousel
{
	position: absolute !important;
}

.wrap-container
{
	margin:0 10% !important;
	width:80%;
}

.box-wrap-slide{
	margin-top: -20px; 
	padding-top: 220px;
	color:#fff;
	text-align: left;
	margin: 0 10%;
	width:80%;
}

.box-wrap-slide .box-title{
	font-size: 52px;
	text-shadow: 1px 1px 1px rgba(0,0,0, .5);
	position: relative;
	z-index:33;
}

.box-wrap-slide button, .box-wrap-slide input
{
	color:#fff;
	border:2px solid rgba(255, 255, 255, .6);
	/*display: block;*/
	padding:12px 30px;
	position: relative;
	z-index:33;
}

.box-wrap-slide input{
	background:rgba(255,255,255, 0.2);
	height:45px;
	border-radius: 0px;
	margin-top: -12px;
	color: #fff !important;

}

.box-wrap-slide button.search-btn
{
	margin-top: -12px;
	background: none;
	height:45px;
}

.item:before{
    content:'';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    background:linear-gradient(5deg, rgba(173,6,6, .5), rgba(21,148,255, .4));
}

.position-relative
{
	background:linear-gradient(5deg, rgba(0,0,0, .86), rgba(0,0,0, .60)), url(../images/section-bg-1.jpg) no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: calc(80vh);
	margin-top: -80px;*/
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active
{
	background:rgba(255,255,255, .5) !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background:#fff !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{
	color:#000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a
{
	background: rgba(255,255,255, .5) !important;
}

.dropdown-menu > li > a
{
	line-height: 35px;
	color:#333 !important;
}

/*.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
{
	color:#444 !important;
}*/


.banner-side:after {
 /* content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(76vh);
  background: rgba(7,73,154);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  z-index: -1;
  margin-left: 160px;*/

}

.wrap-info
{
	/*border:1px solid white;*/
	min-height: 200px;
	margin-top:20%;
	margin-left: 35%;
	max-width: 250px;
}

.wrap-info h4 
{
	color: #fff;
	font-size: 22px;
	text-align: left;
	line-height: 32px;
	margin-bottom: 30px
}


.position-relative-1
{
	margin-top: 0px !important
}

.box-wrap{
	margin-top: -20px; 
	padding-top: 170px;
	color:#fff;
	margin-left:0 15%
}

.box-wrap-mini{
	margin-top: -20px; 
	padding-top: 20px;
	color:#fff;
}

.box-wrap-mini h1,.box-wrap-mini p{
	text-align:center;
}

.contentx
{
	background:#fff;
	margin-left: 10%;
	margin-right: 10%;
	width:80%;
	min-height: 400px;
	padding:20px;
	margin-bottom: 10px
}

.section-1, .section-2,.section-3,.section-4,.section-5
{
	min-height: 400px;
}

/* GENERAL PLACE HOLDER COLOR */

/* do not group these rules */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #fff !important;
}


.section-4
{
	background:#f7f7f7;	
	background:linear-gradient(5deg, rgba(0,0,0, .86), rgba(0,0,0, .88)), url(../images/section-bg-1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px
}

.in-margin
{
	margin:12px -10px 0 0;
}

.h-list-items
{
	padding-top:50px;
	padding-bottom: 50px
}

.h-list-items .wrap-details-x
{
	padding:20px;
}

.h-list-items > div
{
	text-align: left
}


.h-list-items  div  i
{
	font-size: 50px;
	color:rgba(0,0,0, .5);
}

.h-list-items  div  h4
{
	margin-top: 40px;
}

.h-list-items  div  p
{
	font-size: 18px;
	margin-bottom: 30px
}

.more_info
{
	padding:0 20px;
	border-left:3px solid #888;
	color:rgba(14,16,73, .99);
}

/* ----------------------------------- FOOTER -------------------------------*/

.footer-big
{
	min-height: 400px;
	color:rgba(255,255,255);
}

.footer-slim
{
	
	background: rgba(0, 0, 0, .6);
	clear:both;
	min-height: 60px;
	color:#fff;
}

.foot h4, h2,h3
{
	margin-top: 60px;
	margin-bottom: 30px;
}

.foot p
{
	line-height: 28px
}

.foot a
{
	display: block;
	text-decoration: none;
	color: #fff
}


.footer-slim a
{
	line-height: 60px;
}

.promotions
{
	padding:0 20px
}

.img-holder
{
	background-size:cover !important;
	background-position: center !important;
	height: 200px;
	border-radius:5px;
}

.news-box
{
	margin-top:30px;
	margin-bottom:50px;

}

.news-box h4
{
	line-height: 26px
}

/* ------------------------------------------ CARDS ---------------------------------*/

.card-x{
	min-height: 350px;
	overflow: hidden !important;
	position:relative;
	box-shadow: 0 0 3px rgba(0,0,0, .5);
	border-radius: 4px
}

.skew-overlay
{
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 200px;
	transform: skewX(26deg);
	background: rgba(0,0,0, .6);
	margin-left: -50px;
	border-right:7px solid rgba(255,255,255, .9);
}

.caption-overlay
{
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 200px;
	color: #fff;
}

.caption-overlay h4, .caption-overlay p, .caption-overlay a
{
	padding: 0 20px;
}

.caption-overlay a
{
	color:#b9d507;
}

.caption-overlay h4
{
	margin-top: 20%
}

.carousel li{
	list-style: none;
}


/* ----------------------- ANIMATION ----------------------------------------*/

@keyframes in 
{
    0%   {background:rgba(255,255,255, .5);}
    100%   {background:rgba(255,255,255, 1);}
}

@-webkit-keyframes in 
{
     0%   {background:rgba(255,255,255, .5);}
     100%   {background:rgba(255,255,255, 1);}
}

@keyframes out 
{
    0%   {background:rgba(255,255,255, 1);}
     100%   {background:rgba(255,255,255, .5);}
}

@-webkit-keyframes out 
{
     0%   {background:rgba(255,255,255, 1);}
     100%   {background:rgba(255,255,255, .5);}
}


@media (max-width: 480px)
{
	.image > img
	{
		/*max-width: 300px;
		margin-left: -70px*/
		margin:40px auto !important;
	}
	.promotions
	{
		padding:20px
	}
}

@media (max-width: 818px)
{
	.image > img
	{
		/*max-width: 600px;
		margin-left: -70px*/
	}
}

/* /////////////////////////////////// TABLETS VIEW //////////////////////////////////// */

@media (min-width: 68px) and (max-width: 1291px) {
		.box-wrap, .carousel
		{
			position: absolute !important;
		}

        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in { 
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }

        button.search-btn
		{
			
		}
    }

    /* /////////////////////////////////// MOBILE VIEW //////////////////////////////////// */

@media (max-width: 991px) {
    	button.search-btn
		{
			margin-top: 10px !important;
		}
		.slideshow
		{
			display: none;
		}
		.box-wrap-slide{
			margin-top: -20px; 
			padding-top: 160px;
			color:#fff;
			text-align: left;
			margin: 0 10%;
			width:80%;
		}
		.position-relative
		{
			min-height: calc(85vh);
		}
    }

@media (max-width: 701px) {
    button.search-btn
		{
			margin-top: 10px !important;
		}
		.position-relative
		{
			min-height: calc(90vh);
		}

		.page-slide
		{
			width:80%;
		}

		.box-wrap-slide{
			margin-top: -20px; 
			padding-top: 130px;
		}
    }

