.column-1{
	width:80px;
	padding:0 !important
}

.column-2 h4{
	color:#fff;
	font-size: 26px;
	line-height: 50px;
	margin-top: 20px;
	/*border-bottom:1px solid rgba(255, 255, 255, .3);*/
}

.column-2 ul, .column-3 > .list-contact-wrap ul, .column-5 .profile-desc-list ul{
	margin:0;
	padding:0;
}

.column-2 ul li, .column-3 > .list-contact-wrap ul, .column-5 .profile-desc-list ul{
	list-style: none;

}

.column-2 ul li a{
	color:#fff;
	display: block;
	line-height: 40px;
	padding: 0 10px;
	text-decoration: none
}

.list-wrapper{
	margin-bottom: 10px;
	border-bottom:1px solid rgba(250, 250, 250, .1);
	padding-bottom: 10px
}

.list-wrapper ul li a:hover{
	background: rgba(255,255,255, .1);
	border-radius:4px;
}


.list-wrapper ul li a > span{
	float: right;
	font-size: 11px
}

/* -------------- column 3 --------------------- */

.column-3 {
	padding: 0;
}

.column-3 > .list-search-wrap{
	color:#fff;
	margin-top: 20px;
	border-bottom:1px solid rgba(255, 255, 255, .1);
}

.list-search-wrap  > .input-wrap{
	padding:10px 0;
	margin: 0 15px
}

.input-wrap i{
	float: left;
	position: absolute;
	margin-top: 10px;
	margin-left: 15px;
	color: rgba(255,255,255, .6);
}

.list-search-wrap input{
	background: rgba(255,255,255, .1);
	border:none;
	border-radius:30px;
	margin-bottom: 10px;
	padding-left: 40px;
	color:white;
}

.column-3 > .list-contact-wrap{

}

.column-3 > .list-contact-wrap ul li{
	padding:15px 20px;
	font-size: 14px
}

.column-3 .profilex{
	float: left;
	width:60px;
	height: 60px;
	border-radius:60px;
}

.indicator{
	width: 4px;
	height:60px;
	background: #fff;
	margin-left: -20px;
	background: rgba(68, 127, 242) !important;
	position: absolute;
}

.column-3 .list-contact-wrap p, .column-3 .list-contact-wrap h4{
	margin-left: 70px;
	color:#fff;
}

.column-3 .list-contact-wrap li{
	-webkit-transition: all .5s ease-in-out;
  	-moz-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out;
}

.column-3 .list-contact-wrap li:hover{
	background: rgba(53, 77, 123) !important;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.column-3 .list-contact-wrap h4{
	font-size: 14px
}
.column-3 .list-contact-wrap p{
	color: rgba(255,255,255, .6);
}

.badge-wrap{
	float: right;
	color:#fff;
}

.badge-wrap .more-action{
	height:10px;
	margin-top:14px;
	margin-bottom: 5px
}

.badge-wrap .more-action > div{
	width:5px;
	height:5px;
	background: rgba(255,255,255, .6);
	border-radius: 5px;
	float: left;
	margin:0 1px;
}

.badge-wrap .timer{
	color:rgba(255,255,255, .6);
	font-size: 12px
}

.profile-caption-wrap:first-child{
	min-height: 200px;
	border-bottom:1px solid #f1f1f1;
	position: relative;
	text-align: center;
	padding-top: 30px
}

/* -------------- column 5 --------------------- */

.wrap-profile{
	border:1px solid rgba(245,245,245, 1);
	height:150px;
	width:150px;
	border-radius:150px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(245,245,245, 1);
}

.profile-image{
	height:120px;
	width: 120px;
	border-radius:150px;
	margin: 15px;
}

.profile-text-wrap{
	margin-top:20px;
	margin-bottom: 20px;
}

.profile-text-wrap h4, .profile-text-wrap p{
	padding:0;
	margin:0;
	font-size: 14px
}

.profile-text-wrap p{
	color:#999;
}

.profile-desc-list ul li{
	line-height: 40px;
	font-size: 12px;
	border-bottom:1px solid #f1f1f1;
	color:#444;
}

.profile-desc-list ul li > span{
	float:right;
	color:#999;
}

.istyping{font-size: 12px !important}

/* tweet button --------------------------------- */
.tweet_btn, .twitter-pad-wrap{
	width:50px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
	bottom: 20px;
	right:20px;
	background: rgba(68, 127, 242);
	color:white;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	box-shadow: rgba(0,0,0, .9);
}

.twitter-pad-wrap{
	bottom: 20px;
	right:20px;
	background: rgba(255, 255, 255);
	line-height: normal;
	border-radius: 10px;
	width:320px;
	height: 170px;
	border-bottom-right-radius: 30px;
	padding:20px;
	display: none
}

.tweet_post_btn{
	float:left;
	margin-top: 15px;
	color:#999;
}
